html {
	background: url(../img/bg.jpg) center center no-repeat fixed;
	background-size: cover;
}
.hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

header {
	position: absolute;
	width: 100%;
	height: 10%;
	background-color: rgba(180,180,180,0.9);
	font-size: 0.6rem;
	z-index: 2
}
header ul {
	overflow: hidden;
	height: 100%;
/*	display: table-cell;
	vertical-align: middle;*/
}
header li {
	width: 15%;
	margin: 0 2.5%;
	float: left;
	position: relative;
	top:50%;
	transform:translateY(-50%);
	text-align: center;
	/*-webkit-transform:translateY(-50%);*/
}
.content {
	width: 100%;
	height: 90%;
	/*background-color: gold;*/
	position: absolute;
	top: 10%;
}
section.app {
	width: 100%;
	height: 100%;
}

section.app .colorful {
	width: 100%;
	height: 44%; /*400/906*/
	background-color: yellowgreen;
	position: absolute;
	bottom: 0;
	z-index: -1;
}

.hcenter {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
section.app h3 {
	font-size: 1.5rem;
	position: absolute;
	bottom: 33%;
}
section.app .desc {
	position: absolute;
	bottom: 25%;
}
section.app .logo {
	position: absolute;
	bottom: 50%;
}
section.app .download {
	position: absolute;
	bottom: 15%;
}
